{% extends 'base.html' %}
{% load staticfiles %}
{% block navbar %}
<div class="site-navbar bg-white py-2">

      <div class="search-wrap">
        <div class="container">
          <a href="#" class="search-close js-search-close"><span class="icon-close2"></span></a>
          <form action="#" method="post">
            <input type="text" class="form-control" placeholder="Search">
          </form>  
        </div>
      </div>

      <div class="container">
        <div class="d-flex align-items-center justify-content-between">
          <div class="logo">
            <div class="site-logo">
              <a href="{% url 'home' %}" class="js-logo-clone">Jaipur Attire</a>
            </div>
          </div>
          <div class="main-nav d-none d-lg-block">
            <nav class="site-navigation text-right text-md-center" role="navigation">
              <ul class="site-menu js-clone-nav d-none d-lg-block">
                <li class="has-children">
                  <a href="index.html">Home</a>
                  <ul class="dropdown">
                    <li><a href="#">Menu One</a></li>
                    <li><a href="#">Menu Two</a></li>
                    <li><a href="#">Menu Three</a></li>
                    <li class="has-children">
                      <a href="#">Sub Menu</a>
                      <ul class="dropdown">
                        <li><a href="#">Menu One</a></li>
                        <li><a href="#">Menu Two</a></li>
                        <li><a href="#">Menu Three</a></li>
                      </ul>
                    </li>
                  </ul>
                </li>
                
                <li><a href="shop.html">Shop</a></li>
                <li class="active"><a href="{% url 'newarrivals' %}">New Arrivals</a></li>
                <li><a href="contact.html">Contact</a></li>
              </ul>
            </nav>
          </div>
          <div class="icons">
            <a href="#" class="icons-btn d-inline-block js-search-open"><span class="icon-search"></span></a>
            <a href="#" class="icons-btn d-inline-block"><span class="icon-heart-o"></span></a>
            <a href="{% url 'cart' %}" class="icons-btn d-inline-block bag">
              <span class="icon-shopping-bag"></span>
              <span class="number">2</span>
            </a>
            <button type="button" style="margin-left: 20px;" class="btn btn-white btn-sm dropdown-toggle" id="dropdownMenuOffset" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="icon-user"></span> 
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuOffset">
            {% if user.is_authenticated %}
              <a class="dropdown-item" href="javascript:{document.getElementById('logout').submit()}">Log Out</a>
              <form id="logout" method="POST" action="{% url 'logout' %}">
        			  {% csrf_token %}
        			  <input type="hidden">
        		  </form>
            {% else %}
              <a href="{% url 'signup' %}" class="dropdown-item">Sign Up</span></a>  
              <a href="{% url 'login' %}" class="dropdown-item">Log In</span></a>  
            {% endif %} 
            </div> 
          </div>
        </div>
      </div>
    </div>
{% endblock navbar %}
{% block content %}
    <!-- <div class="site-section">
        <div class="container">
            <div class="title-section mb-5">
                <h2 class="text-uppercase"><span class="d-block">New</span> In Fashion</h2>
                <div class="row">
                  {% for clothe in clothes.all %}
                    <div class="col-lg-4 col-md-6 item-entry mb-4">
                      <a href="#" class="product-item md-height bg-gray d-block">
                        <img src="{{ clothe.image.url }}" class="img-fluid">
                      </a>
                      <h2 class="item-title"><a href="#">{{ clothe.name }}</a></h2><br>
                      <strong class="item-price">{{ clothe.size }} || {{ clothe.fabric }}</strong>
                    </div>
                  {% endfor %}
                </div>
            </div>
        </div>
    </div> -->
    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="title-section mb-5 col-12">
            <h2 class="text-uppercase">New In Fashion</h2>
          </div>
        </div>
        <div class="row">
          {% for clothe in clothes.all %}
            <div class="col-lg-4 col-md-6 item-entry mb-4">
              <a href="#" class="product-item md-height bg-gray d-block">
                <img style="background-size: cover;" src="{{ clothe.image.url }}" alt="Image" class="img-fluid">
              </a>
              <h2 class="item-title"><a href="#">{{ clothe.name }}</a></h2>
              <strong class="item-price">{{ clothe.size }} and {{ clothe.fabric }}</strong>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
{% endblock content %}